@import 'variables.css';

:root {
    /* FONTS */
    --text-title {

    }

    /* BUTTONS */
    --btn-base {
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        border: 0;
        background-color: var(--c-primary);
        border-radius: 22px;
        padding: 12px 25px;
        color: var(--c-white);
        @apply --text-label;
    }

    --btn-base-small {
        @apply --btn-base;
        font-size: 14px;
        padding: 13px 25px 14px 25px;
    }

    --btn-hover {
        background-color: var(--c-btn-light)
    }

    --btn-active {
        color: var(--c-white-medium);
        background-color: var(--c-btn-dark)
    }

    --btn-disabled {
        background-color: var(--c-disabled);
        color: var(--c-white-light);
        cursor: not-allowed;
    }

    --btn-cta {
        @apply --btn-base;
        background-color: var(--c-cta);
    }

    --btn-cta-hover {
        background-color: var(--c-cta-light);
    }

    --btn-cta-active {
        background-color: var(--c-cta-dark);
        color: var(--c-white-medium);
    }

    --btn-cta-disabled {
        background-color: var(--c-cta-disabled);
        color: var(--c-white-light);
    }

    /* INPUTS */
    --input-base {
        background-color: var(--c-white);
        border: 1px solid var(--c-border);
        box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.02);
        border-radius: 2px;
        padding: 10px 12px;
        width: 280px;
    }
}
