:root {
    /* COLORS */
    --c-primary: #FFFFFF;
    --c-background: #eceff1;

    /* FONTS */
    --f-futura: Futura-Medium, Futura;
}

/* BREAKPOINTS AS QUERIES */
@custom-media --bp-s (width <= 767px);
@custom-media --bp-from-m (width >= 768px);
